* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #8d99ae;
    display: flex;
    flex-direction: column;
}

#box-container {
    height: 90vh;
}

#entry-fields-container {
    overflow: hidden;
    background: #edf2f4;
    border-width: 7px;
    position: absolute;
    box-sizing: border-box;
    right: -40vw;
    top: 10vh;
    z-index: 2;
    border: 7px solid #0f141d;
    border-radius: 20px;
    height: 90vh;
    width: 33vw;
    transition: right 0.3s ease;
}

body.menu-open #entry-fields-container {
    right: 0;
}

#map-and-input-container {
    display: flex;
    width: 100%;
}

body.menu-open #map {
    width: 66vw;
}

#map {
    height: 90vh;
    width: 100vw;
    z-index: 1;
    transition: width 0.3s ease;
}

#header {
    height: 10vh;
    width: 100%;
    background-color: #0f141d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    align-items: center;
    color: #ffffff;
    position: relative;
}

#about-link,
#time-complexity-link {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#title {
    margin: 0;
    text-align: center;
}

#menu-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
    background: #0f141d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#non-address-inputs {
    display: block;
    transition: display 1s ease;
}

#address-container {
    margin: 30px auto;
    text-align: center;
}

@media (max-width: 800px) {
    #header > * {
        font-size: 30px;
        max-height: 100%;
    }
}
