* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #8d99ae;
}

#box-container {
    height: 90vh;
}

#entry-fields-container {
    overflow: hidden;
    background: #edf2f4;
    border-width: 7px;
    position: absolute;
    box-sizing: border-box;
    left: 7vw;
    top: 13vh;
    z-index: 2;
    border: 7px solid #0f141d;
    border-radius: 20px;
    height: 10vh;
    width: 40vw;
    transition: height 1s ease;
}

#map {
    height: 90vh;
    width: 100vw;
    z-index: 1;
}

#header {
    height: 10vh;
    width: 100%;
    background-color: #0f141d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    align-items: center;
    color: #ffffff;
}

#about-link,
#time-complexity-link {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff; /* Adjust color as needed */
    padding: 10px;
    width: 20vw;
    text-align: center;
}

#title {
    margin: 0;
    text-align: center;
}

#non-address-inputs {
    display: block;
    transition: display 1s ease;
}

#address-container {
    margin: 30px auto;
    text-align: center;
}

/* #entry-fields-container > * {
    display: inline-block;
    margin: 10px;
} */

@media (max-width: 800px) {
    #header > * {
        font-size: 30px;
        max-height: 100%;
    }
}
