* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8d99ae;
    font-family: "Open Sans", sans-serif;
}

#header {
    height: 10vh;
    width: 100%;
    background-color: #0f141d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}

#about-link,
#index-link {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    width: 20vw;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 60px 60px 0px 60px;
}

.visualization_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 0px;
}

.box {
    border: 7px solid #0f141d;
    border-radius: 20px;
    height: 70vh;
    width: 100vw;
    background: #edf2f4;
    padding: 10px;
    overflow: hidden;
}

.bars_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
}

.bar {
    width: 10px;
    background-color: #8d99ae;
    border-radius: 2px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 0px;
}

.buttons_container > button,
select {
    width: 200px;
    height: 30px;
    background-color: #677685;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.buttons_container > button:hover,
select:hover {
    background-color: #55666d;
}

@media (max-width: 800px) {
    .visualization_container {
        flex-direction: column;
        height: calc(80vh - 60px);
    }

    .box {
        width: 80vw;
        height: 70vh;
    }

    #header > * {
        font-size: 30px;
        max-height: 100%;
    }

    .buttons_container {
        flex-direction: column;
        gap: 0px;
    }
}
