* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

#header {
    height: 10vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgb(0, 33, 165) 60%,
        rgb(203, 199, 252) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 0;
    align-items: center;
    color: #ffffff;
    position: relative;
    box-shadow: 0 2px 5px 0 black;
    z-index: 1000;
}

#uf-logo {
    margin-left: auto;
    margin-right: 2vh;
    height: 80%;
}

#about-link,
#index-link {
    text-decoration: none;
    font-weight: 500;
    color: #cfcfcf;
    padding: 10px;
    text-align: center;
    margin: 0 0.75vw 0 0.75vw;
    transition:
        color 0.75s ease,
        transform 0.75s ease,
        text-decoration 0.75s ease;
}

#about-link:hover,
#index-link:hover {
    color: white;
    transform: scale(1.05);
    text-decoration: underline;
}

#title {
    margin: 0 1.75vw 0.5vh 2vw;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    padding: 60px 60px 0px 60px;
}

.visualization_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.box {
    border: 7px solid rgb(0, 33, 165);
    border-radius: 20px;
    height: 70vh;
    width: 100vw;
    background: #edf2f4;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.7);
}

#sort_title{
    color: black;
    font-size: 4vh;
    font-weight: 700;
    margin: 1vh 0 0 1vw;
}

.bars_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
}

.bar {
    width: 10px;
    background-color: #0021a5;
    border-radius: 2px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
    margin: 10px;
}

.buttons_container > button,
select {
    width: 250px;
    height: 60px;
    background: linear-gradient(
        to top,
        rgb(0, 33, 165) ,
        rgb(169, 161, 255)
    );
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 2.5vh;
    font-weight: 700;
    font-family: Helvetica;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
}

.buttons_container option{
    width: 250px;
    height: 60px;
    background: rgb(0, 33, 165);
    border: none;
    color: white;
    font-size: 2.5vh;
    font-weight: 700;
    font-family: Helvetica;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in-out;
}

@media (max-width: 800px) {
    .visualization_container {
        flex-direction: column;
        height: calc(80vh - 60px);
    }

    .box {
        width: 80vw;
        height: 70vh;
    }

    #header > * {
        font-size: 30px;
        max-height: 100%;
    }

    .buttons_container {
        flex-direction: column;
        gap: 0px;
    }
}
