<!-- NOT USED FOR NOW -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>HTML 5 Boilerplate</title>
        <link rel="stylesheet" href="../static/css/about.css" />
    </head>
    <body>
        <div id="header">
            <h1 id="title">About Us</h1>
            <a href="{{ url_for('index') }}" id="index-link">Home</a>
            <a href="{{ url_for('visualization') }}" id="time-complexity-link">Complexity Visualization</a>
            <img src="../static/resources/UFLogo.png" id="uf-logo" alt="UF Logo"/>
        </div>
        <div id="content" class="box">
            <p>
                This website was created by Soor Hansalia, Blake Crawford, and Ethan Krol for our
                Data Structures and Algorithms Course. We are students at the University
                of Florida.
            </p>
            <p>
                Our website is designed to help users visualize crime data in
                Gainesville, Florida. Users can input a latitude and longitude
                and a radius to see the crimes that have occurred in that area.
            </p>
            <p>
                We also have a time complexity visualization page where users
                can see how different sorting algorithms work.
            </p>
        <!-- <script src="index.js"></script> -->
    </body>
</html>
