<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <link rel="stylesheet" href="../static/css/index.css" />
    </head>
    <body>
        <div id="header">
            <h1 id="title">Gainesville Crime</h1>
            <a href="{{ url_for('about') }}" id="about-link">About</a>
            <a href="{{ url_for('visualization') }}" id="time-complexity-link">Complexity Visualization</a>
            <img src="../static/resources/UFLogo.png" id="uf-logo" alt="UF Logo"/>
        </div>
        <div id="map-and-input-container">
            <div id="entry-fields-container" class="box">
                <h1>Custom Fields</h1>
                <button id="btn1" class="btn1-class">?</button>

                <div id="help-container" class="help-container-class">
                    <h1 style="margin: 0 auto; ">Help</h1>
                    <p style="margin: 0 auto; padding: 10px; font-size: 2.2vh; line-height: 3.2vh; text-align: center;">
                        Welcome to Gainesville Crime! The goal of this web app is to produce a 
                        heat map of the top areas of crime in Gainesville, while also exploring the differences in
                        performance between computer science sorting algorithms. The two sorting algorithms being 
                        utilized will be heap sort and quick sort. You can input several different filters
                        to specify what results will get produced. You can also toggle the SNAP, AED, and Blue Phone 
                        locations in the top left of the map. At the bottom of the custom input fields, you will
                        see button for both heap sort and quick sort. Both will yield the same results in regards
                        to the map, yet they will have difference in performance output. We will track this in
                        terms of the number of operations each sort takes, and output this below each button.
                    </p>
                </div>

                <div class="input-container">
                    <label for="search-address">Address</label>
                    <input
                        type="text"
                        id="search-address"
                        placeholder="Enter Address"
                    />
                </div>

                <!-- <div class="input-container">
                    <label for="zip">Zipcode</label>
                    <input
                        type="text"
                        id="zip"
                        placeholder="Enter Zipcode"
                    />
                </div> -->

                <div class="double-input-container">
                    <div>
                        <label for="latitude">Latitude:</label>
                        <input
                            type="number"
                            id="latitude"
                            step="0.00001"
                            placeholder="Enter latitude"
                            value="value"
                            max="29.8"
                            min="29.6"
                        />
                    </div>
                    <div>
                        <label for="longitude">Longitude:</label>
                        <input
                            type="number"
                            id="longitude"
                            step="0.00001"
                            placeholder="Enter longitude"
                            value="value"
                        />
                    </div>
                </div>

                <div class="input-container">
                    <label for="radius">Radius: <output id="value"></output> mi</label>
                    <input
                        type="range"
                        id="radius"
                        name="radius"
                        min="0"
                        max="10"
                        step="0.1"
                        value="1"
                        x
                    />
                </div>

                <div class="double-input-container">
                    <div>
                        <label for="start-time">Start Time:</label>
                        <input type="time" id="start-time" />
                    </div>
                    <div>
                        <label for="end-time">End Time:</label>
                        <input type="time" id="end-time" />
                    </div>
                </div>

                <div class="input-container">
                    <label for="k">Number of Top Crime Areas</label>
                    <input type="number" id="k" value="100"/>
                </div>

                <div class = "input-container">
                    <label>
                        <button type="submit" id="heap-button">HeapSort</button>
                    </label>
                </div>

                <div class = "input-container">
                    <label>
                        <button type="submit" id="shellsort-button">ShellSort</button>
                    </label>
                </div>

            </div>
            <div id="map">
                <button id="btn2" class="top-left-buttons">SNAP</button>
                <button id="btn3" class="top-left-buttons">AED</button>
                <button id="btn4" class="top-left-buttons">Blue Phone</button>
                <button id="menu-toggle">☰</button>
            </div>
        </div>
        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
        ></script>
        <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
        <script type = "module" src="../static/js/scripts.js"></script>
        <script>
            let menuToggle = document.getElementById("menu-toggle");
            menuToggle.addEventListener("click", function (event) {
                event.stopPropagation(); 
                event.preventDefault();
                document.body.classList.toggle("menu-open");
            });
            menuToggle.addEventListener('mousedown', function() {
                this.style.transform='scale(0.9)';
            });
            menuToggle.addEventListener('mouseup', function() {
                this.style.transform='scale(1.15)';
            });
            menuToggle.addEventListener('mouseenter', function() {
                this.style.transform='scale(1.15)';
            })
            menuToggle.addEventListener('mouseleave', function() {
                this.style.transform='scale(1)';
            })
        </script>
    </body>
</html>
