<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/visualization.css" />
        <title>Visualization</title>
    </head>
    <body>
        <div id="header">
            <a href="{{ url_for('about') }}" id="about-link">About</a>
            <h1 id="title">Time Complexity Visualization</h1>
            <a href="{{ url_for('index') }}" id="index-link">Home</a>
        </div>
        <div class="container">
            <div class="visualization_container">
                <div class="box" id="quicksort_container">
                    <h2>Quicksort Visualization</h2>
                    <div class="bars_container" id="quicksort_bars"></div>
                </div>
                <div class="box" id="heapsort_container">
                    <h2>Heapsort Visualization</h2>
                    <div class="bars_container" id="heapsort_bars"></div>
                </div>
            </div>
            <div class="buttons_container">
                <select name="speed" id="speed">
                    <option value="100">Slow</option>
                    <option value="50">Medium</option>
                    <option value="10">Fast</option>
                </select>
                <button id="sort_btn">Sort</button>
            </div>
        </div>
        <script src="../static/js/visualization.js"></script>
    </body>
</html>
