<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/visualization.css" />
        <title>Visualiztion</title>
    </head>
    <body>
        <div class="container">
            <div class="bars_container" id="bars_container"></div>

            <div class="buttons_container">
                <select name="" id="speed">
                    <option value="100">Slow</option>
                    <option value="50">Medium</option>
                    <option value="10">Fast</option>
                </select>
                <button id="sort_btn">Sort</button>
            </div>
        </div>

        <script src="../static/js/visualization.js"></script>
    </body>
</html>
