<!doctype html>
<html lang="en">
    <head>
        <! -- Here we set up our html by linking our css and setting a page title -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/visualization.css" />
        <title>Visualization</title>
    </head>
    <body>
        <! -- Here we add links to the other pages in the header -->
        <div id="header">
            <h1 id="title">Time Complexity Visualization</h1>
            <a href="{{ url_for('about') }}" id="about-link">About</a>
            <a href="{{ url_for('index') }}" id="index-link">Home</a>
            <img
                src="../static/resources/UFLogo.png"
                id="uf-logo"
                alt="UF Logo"
            />
        </div>
        <! -- Here we have html for the center box and bars inside that to visualize the sorting -->
        <div class="container">
            <div class="visualization_container">
                <div class="box" id="sort_container">
                    <h2 id="sort_title">Sorting Visualization</h2>
                    <div class="bars_container" id="sort_bars"></div>
                </div>
            </div>
            <! -- Here we have html for the buttons to reset and sort the bars -->
            <div class="buttons_container">
                <button id="reset_btn">Reset</button>
                <select name="sort_select" id="sort_select">
                    <option>Quick Sort</option>
                    <option>Heap Sort</option>
                    <option>Shell Sort</option>
                    <option>Merge Sort</option>
                    <option>Bubble Sort</option>
                    <option>Insertion Sort</option>
                    <option>Selection Sort</option>
                </select>
                <button id="sort_btn">Sort</button>
            </div>
        </div>
        <script src="../static/js/visualization.js"></script>
    </body>
</html>
